@page "/Admin/AdminIndex"
<a href="Admin/Create" class="btn btn-info">Add New</a>

<table class="table">
    @foreach (var product in ProductList)
    {
        <tr>
            @if (product.Images.Count == 0)
            {
                <td>
                    <img class="detail-img" src="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/181/2019/09/09091628/Image-Coming-Soon.png">
                </td>
            }
            else
            {
                <td>
                    <div>
                        <img src="@product.Images.FirstOrDefault().Image" alt="Alternate Text" class="Admin-img" />
                    </div>
                    
                </td>
            }

            <td>@product.Name</td>
            <td>
                <a href="/Admin/Edit/@product.ProductId">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="/Admin/Delete/@product.ProductId">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>

@code {
    private List<Product> ProductList;

    protected override void OnInitialized()
    {
        ProductList = _ProductService.GetProducts().ToList();
    }
}
