@page "/Admin/AdminIndex"
<a href="Admin/Create" class="btn btn-info">Add New</a>

<table class="table">
    @foreach (var product in ProductList)
    {
        <tr>
            <td>@product.Name</td>
            <td>
                <a href="/Admin/Edit/@product.ProductId" >
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="/Admin/Delete/@product.ProductId">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>

@code {
    private List<Product> ProductList;

    protected override void OnInitialized()
    {
        ProductList = _ProductService.GetProducts().ToList();
    }
}
