@page "/Detail/{produktId:int}"

@if (product != null)
{
    <h2 class="text-center">@product.Name</h2>
    <div>
        @if (product.Images.Count == 0)
        {
            <img class="img-thumbnail my-4 detail-img" src="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/181/2019/09/09091628/Image-Coming-Soon.png">
        }
        else
        {
            <img src="@product.Images.FirstOrDefault().Image" alt="Alternate Text" class="img-thumbnail my-4 detail-img" />
        }
    </div>

    
    <h3 class="text-center">Pris: @product.Price</h3> 
}
else
{
    <h3>The product was not found</h3>
}

@code {

    [Parameter]
    public int produktId { get; set; }

    private Product product;

    protected override void OnInitialized()
    {
        product = _ProductService.GetProduktById(produktId).FirstOrDefault();
    }
}
