@page "/Detail/{produktId:int}"

<h2>@product.Name</h2>
<div>
    @if (product.Images.Count == 0)
    {
        <img class="card-img-top" src="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/181/2019/09/09091628/Image-Coming-Soon.png">
    }
    else
    {
        <img src="@product.Images.FirstOrDefault().Image" alt="Alternate Text" class="img-thumbnail my-4" />
    }
</div>

<div>
    Id: @product.ProductId
</div>
<div>
    Pris: @product.Price
</div>

@code {

    [Parameter]
    public int produktId { get; set; }

    private Product product;

    protected override void OnInitialized()
    {
        product = _ProductService.GetProduktById(produktId).FirstOrDefault();
    }
}
